body{
    background-color: darkslateblue;
    align-items: center;
    text-align: center;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
}
textarea {
    border: black;
    border-radius: 2px;
    background-color: darkgray;
    height: 100px;
    width: 25cm;
    font-size: 20px;
    
}
button {
    width: 100px;
    height: 50px;
    font-size: 16px;
    color: crimson;
    background-color: rgb(11, 31, 36);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    
}
button:hover {
    background-color: brown;
}

pre {
    background-color: rgb(67, 46, 116);
    font: 500;
    text-decoration: white

}


